@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url('/assets/fonts/Poppins-Regular.ttf') format('ttf');
  }
  @font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url('/assets/fonts/Poppins-Bold.ttf') format('ttf');
  }
  @font-face {
    font-family: Poppins;
    font-weight: 300;
    src: url('/assets/fonts/Poppins-Light.ttf') format('ttf');
  }
}

@layer components {
  .login-input {
    @apply px-4 py-2 bg-zinc-100 rounded-md focus:outline-base;
  }
}
